<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TalentHunt</display-name>
  <servlet>
    <servlet-name>adminLogin</servlet-name>
    <jsp-file>/adminLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminLoginPage</servlet-name>
    <jsp-file>/adminLoginPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginPage</servlet-name>
    <url-pattern>/adminLoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>amountTransfer</servlet-name>
    <jsp-file>/amountTransfer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>amountTransfer</servlet-name>
    <url-pattern>/amountTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userManagementList</servlet-name>
    <jsp-file>/userManagementList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userManagementList</servlet-name>
    <url-pattern>/userManagementList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addUserByAdmin</servlet-name>
    <jsp-file>/addUserByAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUserByAdmin</servlet-name>
    <url-pattern>/addUserByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewSection1User</servlet-name>
    <jsp-file>/viewSection1User.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewSection1User</servlet-name>
    <url-pattern>/viewSection1User</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showRatingUserSection1</servlet-name>
    <jsp-file>/showRatingUserSection1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>showRatingUserSection1</servlet-name>
    <url-pattern>/showRatingUserSection1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLogin</servlet-name>
    <jsp-file>/userLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLoginPage</servlet-name>
    <jsp-file>/userLoginPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginPage</servlet-name>
    <url-pattern>/userLoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>judgesLogin</servlet-name>
    <jsp-file>/judgesLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>judgesLogin</servlet-name>
    <url-pattern>/judgesLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>judgesSection1</servlet-name>
    <jsp-file>/judgesSection1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>judgesSection1</servlet-name>
    <url-pattern>/judgesSection1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewSection1UserByjudges</servlet-name>
    <jsp-file>/viewSection1UserByjudges.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewSection1UserByjudges</servlet-name>
    <url-pattern>/viewSection1UserByjudges</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLoginSection2</servlet-name>
    <jsp-file>/userLoginSection2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginSection2</servlet-name>
    <url-pattern>/userLoginSection2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>judgesSection2</servlet-name>
    <jsp-file>/judgesSection2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>judgesSection2</servlet-name>
    <url-pattern>/judgesSection2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewSection2UserFileByJudges</servlet-name>
    <jsp-file>/viewSection2UserFileByJudges.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewSection2UserFileByJudges</servlet-name>
    <url-pattern>/viewSection2UserFileByJudges</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showRatingUserSection2</servlet-name>
    <jsp-file>/showRatingUserSection2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>showRatingUserSection2</servlet-name>
    <url-pattern>/showRatingUserSection2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewSection2UserFile</servlet-name>
    <jsp-file>/viewSection2UserFile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewSection2UserFile</servlet-name>
    <url-pattern>/viewSection2UserFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUserPaymenByAdmint</servlet-name>
    <jsp-file>/ShowUserPaymenByAdmint.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserPaymenByAdmint</servlet-name>
    <url-pattern>/ShowUserPaymenByAdmint</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLoginSection3</servlet-name>
    <jsp-file>/userLoginSection3.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginSection3</servlet-name>
    <url-pattern>/userLoginSection3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>judgesSection3</servlet-name>
    <jsp-file>/judgesSection3.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>judgesSection3</servlet-name>
    <url-pattern>/judgesSection3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewSection3UserFileByJudges</servlet-name>
    <jsp-file>/viewSection3UserFileByJudges.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewSection3UserFileByJudges</servlet-name>
    <url-pattern>/viewSection3UserFileByJudges</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Section3ByAdmin</servlet-name>
    <jsp-file>/Section3ByAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Section3ByAdmin</servlet-name>
    <url-pattern>/Section3ByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showRatingUserSection3</servlet-name>
    <jsp-file>/showRatingUserSection3.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>showRatingUserSection3</servlet-name>
    <url-pattern>/showRatingUserSection3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewSection3UserFile</servlet-name>
    <jsp-file>/viewSection3UserFile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewSection3UserFile</servlet-name>
    <url-pattern>/viewSection3UserFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLoginSection4</servlet-name>
    <jsp-file>/userLoginSection4.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginSection4</servlet-name>
    <url-pattern>/userLoginSection4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Section4ByAdmin</servlet-name>
    <jsp-file>/Section4ByAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Section4ByAdmin</servlet-name>
    <url-pattern>/Section4ByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewSection4UserFile</servlet-name>
    <jsp-file>/viewSection4UserFile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewSection4UserFile</servlet-name>
    <url-pattern>/viewSection4UserFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewUserUserVideo</servlet-name>
    <jsp-file>/viewUserUserVideo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewUserUserVideo</servlet-name>
    <url-pattern>/viewUserUserVideo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
</web-app>